examples/01-producer-basic.json
[
  {
    "id": "tab-producer-basic",
    "type": "tab",
    "label": "Producer — basic",
    "disabled": false,
    "info": "Minimal producer example.\n\nPrerequisite: topic `demo-producer` must exist (use the admin example to create it, or let auto-create do it via the example flow for `Admin` below).\n\nInjects:\n1. Single JSON message with key + headers\n2. Batch of 3 string values\n3. Runtime topic via msg.topic\n\nErrors surface via the catch node (producer nodes do not have a second error output — errors are raised through Node-RED's standard error channel)."
  },
  {
    "id": "broker-basic",
    "type": "kafka-suite-broker",
    "name": "Local Kafka",
    "brokers": "localhost:9092",
    "clientId": "nr-example-producer",
    "backend": "kafkajs",
    "servicePreset": "self-hosted",
    "authType": "none",
    "logLevel": "warn",
    "connectionTimeout": 3000,
    "requestTimeout": 30000,
    "maxRetryTime": 30000,
    "initialRetryTime": 300,
    "retries": 5,
    "sslRejectUnauthorized": true
  },
  {
    "id": "pb-comment",
    "type": "comment",
    "z": "tab-producer-basic",
    "name": "Click the injects in order — watch Delivery debug & Caught error",
    "info": "",
    "x": 260,
    "y": 40,
    "wires": []
  },
  {
    "id": "pb-inject-single",
    "type": "inject",
    "z": "tab-producer-basic",
    "name": "1. Single JSON + key + headers",
    "props": [
      { "p": "payload", "v": "{\"sensor\":\"temp-1\",\"value\":21.4,\"unit\":\"celsius\"}", "vt": "json" },
      { "p": "key", "v": "sensor-1", "vt": "str" },
      { "p": "headers", "v": "{\"source\":\"example\",\"trace\":\"pb-1\"}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 220,
    "y": 100,
    "wires": [["pb-producer"]]
  },
  {
    "id": "pb-inject-batch",
    "type": "inject",
    "z": "tab-producer-basic",
    "name": "2. Batch of 3 string values",
    "props": [
      { "p": "payload", "v": "[\"A\",\"B\",\"C\"]", "vt": "json" },
      { "p": "key", "v": "batch", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 200,
    "y": 160,
    "wires": [["pb-producer"]]
  },
  {
    "id": "pb-inject-runtime",
    "type": "inject",
    "z": "tab-producer-basic",
    "name": "3. Runtime topic via msg.topic",
    "props": [
      { "p": "payload", "v": "{\"hello\":\"runtime\"}", "vt": "json" },
      { "p": "topic", "v": "demo-producer-runtime", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 220,
    "y": 220,
    "wires": [["pb-producer-runtime"]]
  },
  {
    "id": "pb-producer",
    "type": "kafka-suite-producer",
    "z": "tab-producer-basic",
    "name": "Producer (demo-producer)",
    "broker": "broker-basic",
    "topic": "demo-producer",
    "key": "",
    "partition": "",
    "compression": "none",
    "acks": "-1",
    "timeout": 30000,
    "schemaRegistry": "",
    "x": 560,
    "y": 130,
    "wires": [["pb-debug"]]
  },
  {
    "id": "pb-producer-runtime",
    "type": "kafka-suite-producer",
    "z": "tab-producer-basic",
    "name": "Producer (msg.topic)",
    "broker": "broker-basic",
    "topic": "",
    "key": "",
    "partition": "",
    "compression": "none",
    "acks": "-1",
    "timeout": 30000,
    "schemaRegistry": "",
    "x": 540,
    "y": 220,
    "wires": [["pb-debug"]]
  },
  {
    "id": "pb-debug",
    "type": "debug",
    "z": "tab-producer-basic",
    "name": "Delivery (msg.kafka)",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "kafka",
    "targetType": "msg",
    "statusVal": "kafka.offset",
    "statusType": "msg",
    "x": 810,
    "y": 160,
    "wires": []
  },
  {
    "id": "pb-catch",
    "type": "catch",
    "z": "tab-producer-basic",
    "name": "Catch producer errors",
    "scope": ["pb-producer", "pb-producer-runtime"],
    "uncaught": false,
    "x": 240,
    "y": 320,
    "wires": [["pb-debug-err"]]
  },
  {
    "id": "pb-debug-err",
    "type": "debug",
    "z": "tab-producer-basic",
    "name": "Caught error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "error.message",
    "statusType": "msg",
    "x": 530,
    "y": 320,
    "wires": []
  }
]
