examples/02-consumer-manual-commit.json
[
  {
    "id": "tab-consumer-manual",
    "type": "tab",
    "label": "Consumer — manual commit",
    "disabled": false,
    "info": "Consumer with autoCommit=false. The consumer attaches a msg.commit() callback to every message. A function node processes the message and then calls await msg.commit() — only then is the offset persisted.\n\nThe 'Seed' inject on the right publishes test messages into the topic so you can watch them flow through the consumer→commit→debug path.\n\nPause/Resume injects exercise the consumer's control input."
  },
  {
    "id": "broker-manual",
    "type": "kafka-suite-broker",
    "name": "Local Kafka",
    "brokers": "localhost:9092",
    "clientId": "nr-example-consumer-manual",
    "backend": "kafkajs",
    "servicePreset": "self-hosted",
    "authType": "none",
    "logLevel": "warn",
    "connectionTimeout": 3000,
    "requestTimeout": 30000,
    "maxRetryTime": 30000,
    "initialRetryTime": 300,
    "retries": 5,
    "sslRejectUnauthorized": true
  },
  {
    "id": "cm-comment",
    "type": "comment",
    "z": "tab-consumer-manual",
    "name": "Manual-commit pipeline (process then await msg.commit())",
    "info": "",
    "x": 260,
    "y": 40,
    "wires": []
  },
  {
    "id": "cm-consumer",
    "type": "kafka-suite-consumer",
    "z": "tab-consumer-manual",
    "name": "Consumer (manual commit)",
    "broker": "broker-manual",
    "topics": "demo-manual",
    "groupId": "nr-example-manual-group",
    "startOffset": "earliest",
    "autoCommit": false,
    "autoCommitInterval": 5000,
    "messageFormat": "json",
    "concurrency": 1,
    "schemaRegistry": "",
    "x": 230,
    "y": 100,
    "wires": [["cm-fn-commit"]]
  },
  {
    "id": "cm-fn-commit",
    "type": "function",
    "z": "tab-consumer-manual",
    "name": "process + commit",
    "func": "// Simulate processing work then persist the offset.\n// msg.commit() uses BigInt to stay accurate on busy long-running topics\n// where the offset can exceed Number.MAX_SAFE_INTEGER.\nconst start = Date.now();\n// ... real work would happen here ...\nawait msg.commit();\nmsg.processedInMs = Date.now() - start;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 100,
    "wires": [["cm-debug-out"]]
  },
  {
    "id": "cm-debug-out",
    "type": "debug",
    "z": "tab-consumer-manual",
    "name": "Consumed + committed",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "offset",
    "statusType": "msg",
    "x": 780,
    "y": 100,
    "wires": []
  },
  {
    "id": "cm-inject-pause",
    "type": "inject",
    "z": "tab-consumer-manual",
    "name": "Pause consumer",
    "props": [ { "p": "action", "v": "pause", "vt": "str" } ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 180,
    "wires": [["cm-consumer"]]
  },
  {
    "id": "cm-inject-resume",
    "type": "inject",
    "z": "tab-consumer-manual",
    "name": "Resume consumer",
    "props": [ { "p": "action", "v": "resume", "vt": "str" } ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 200,
    "y": 230,
    "wires": [["cm-consumer"]]
  },
  {
    "id": "cm-seed-comment",
    "type": "comment",
    "z": "tab-consumer-manual",
    "name": "Seed the topic (publish test messages)",
    "info": "",
    "x": 230,
    "y": 320,
    "wires": []
  },
  {
    "id": "cm-inject-seed",
    "type": "inject",
    "z": "tab-consumer-manual",
    "name": "Seed 3 messages",
    "props": [
      { "p": "payload", "v": "[{\"n\":1},{\"n\":2},{\"n\":3}]", "vt": "json" },
      { "p": "key", "v": "seed", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 380,
    "wires": [["cm-producer-seed"]]
  },
  {
    "id": "cm-producer-seed",
    "type": "kafka-suite-producer",
    "z": "tab-consumer-manual",
    "name": "Seed producer",
    "broker": "broker-manual",
    "topic": "demo-manual",
    "key": "",
    "partition": "",
    "compression": "none",
    "acks": "-1",
    "timeout": 30000,
    "schemaRegistry": "",
    "x": 440,
    "y": 380,
    "wires": [["cm-debug-seed"]]
  },
  {
    "id": "cm-debug-seed",
    "type": "debug",
    "z": "tab-consumer-manual",
    "name": "Seed delivery",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "kafka",
    "targetType": "msg",
    "statusVal": "kafka.offset",
    "statusType": "msg",
    "x": 680,
    "y": 380,
    "wires": []
  }
]
