examples/04-schema-registry-roundtrip.json
[
  {
    "id": "tab-sr-roundtrip",
    "type": "tab",
    "label": "Schema Registry — roundtrip",
    "disabled": false,
    "info": "End-to-end Avro roundtrip using msg.schemaDefinition + autoRegister.\n\n1. The inject produces an Avro message AND provides msg.schemaDefinition. Because the Schema Registry config has autoRegister=true, the producer registers the schema under subject `demo-sr-events-value` on the very first send, then encodes the payload using the returned schema id.\n2. The consumer (with the same Schema Registry attached) decodes the Confluent wire format automatically.\n3. Watch both debug panels: the produce side shows kafka offsets; the consume side shows the fully decoded JSON."
  },
  {
    "id": "broker-sr",
    "type": "kafka-suite-broker",
    "name": "Local Kafka",
    "brokers": "localhost:9092",
    "clientId": "nr-example-sr",
    "backend": "kafkajs",
    "servicePreset": "self-hosted",
    "authType": "none",
    "logLevel": "warn",
    "connectionTimeout": 3000,
    "requestTimeout": 30000,
    "maxRetryTime": 30000,
    "initialRetryTime": 300,
    "retries": 5,
    "sslRejectUnauthorized": true
  },
  {
    "id": "registry-sr",
    "type": "kafka-suite-schema-registry",
    "name": "Local Schema Registry",
    "registryUrl": "http://localhost:8081",
    "schemaType": "AVRO",
    "cacheTTL": 300000,
    "autoRegister": true
  },
  {
    "id": "sr-comment",
    "type": "comment",
    "z": "tab-sr-roundtrip",
    "name": "Avro roundtrip — autoRegister via msg.schemaDefinition",
    "info": "",
    "x": 260,
    "y": 40,
    "wires": []
  },
  {
    "id": "sr-inject-create",
    "type": "inject",
    "z": "tab-sr-roundtrip",
    "name": "1. createTopic demo-sr-events",
    "props": [
      { "p": "action", "v": "createTopic", "vt": "str" },
      { "p": "topic", "v": "demo-sr-events", "vt": "str" },
      { "p": "config", "v": "{\"partitions\":3,\"replicationFactor\":1}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 220,
    "y": 100,
    "wires": [["sr-admin"]]
  },
  {
    "id": "sr-admin",
    "type": "kafka-suite-admin",
    "z": "tab-sr-roundtrip",
    "name": "Admin",
    "broker": "broker-sr",
    "x": 470,
    "y": 100,
    "wires": [["sr-debug-admin"]]
  },
  {
    "id": "sr-debug-admin",
    "type": "debug",
    "z": "tab-sr-roundtrip",
    "name": "topic created",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "sr-inject-produce",
    "type": "inject",
    "z": "tab-sr-roundtrip",
    "name": "2. Produce Avro w/ schemaDefinition",
    "props": [
      { "p": "payload", "v": "{\"sensor\":\"avro-1\",\"value\":42.7,\"unit\":\"celsius\"}", "vt": "json" },
      { "p": "key", "v": "avro-key-1", "vt": "str" },
      { "p": "schemaDefinition", "v": "{\"type\":\"record\",\"name\":\"SensorEvent\",\"namespace\":\"com.example\",\"fields\":[{\"name\":\"sensor\",\"type\":\"string\"},{\"name\":\"value\",\"type\":\"double\"},{\"name\":\"unit\",\"type\":\"string\"}]}", "vt": "json" },
      { "p": "schemaType", "v": "AVRO", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 240,
    "y": 180,
    "wires": [["sr-producer"]]
  },
  {
    "id": "sr-producer",
    "type": "kafka-suite-producer",
    "z": "tab-sr-roundtrip",
    "name": "Producer (Avro, auto-register)",
    "broker": "broker-sr",
    "topic": "demo-sr-events",
    "key": "",
    "partition": "",
    "compression": "none",
    "acks": "-1",
    "timeout": 30000,
    "schemaRegistry": "registry-sr",
    "x": 540,
    "y": 180,
    "wires": [["sr-debug-prod"]]
  },
  {
    "id": "sr-debug-prod",
    "type": "debug",
    "z": "tab-sr-roundtrip",
    "name": "Avro produce result",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "kafka",
    "targetType": "msg",
    "statusVal": "kafka.offset",
    "statusType": "msg",
    "x": 820,
    "y": 180,
    "wires": []
  },
  {
    "id": "sr-consumer",
    "type": "kafka-suite-consumer",
    "z": "tab-sr-roundtrip",
    "name": "Consumer (Avro decoded)",
    "broker": "broker-sr",
    "topics": "demo-sr-events",
    "groupId": "nr-example-sr-group",
    "startOffset": "earliest",
    "autoCommit": true,
    "autoCommitInterval": 5000,
    "messageFormat": "string",
    "concurrency": 1,
    "schemaRegistry": "registry-sr",
    "x": 230,
    "y": 280,
    "wires": [["sr-debug-cons"]]
  },
  {
    "id": "sr-debug-cons",
    "type": "debug",
    "z": "tab-sr-roundtrip",
    "name": "Avro decoded payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload.sensor",
    "statusType": "msg",
    "x": 530,
    "y": 280,
    "wires": []
  }
]
