examples/test-all-nodes.json
[
    {
        "id": "flow-test-all",
        "type": "tab",
        "label": "Kafka Suite - Test All Nodes",
        "disabled": false,
        "info": "Test flow for all kafka-suite nodes. Tests producer, consumer, and admin operations."
    },
    {
        "id": "broker-config",
        "type": "kafka-suite-broker",
        "name": "Local Kafka",
        "brokers": "localhost:9092",
        "clientId": "node-red-test",
        "backend": "kafkajs",
        "servicePreset": "self-hosted",
        "authType": "none",
        "logLevel": "warn",
        "connectionTimeout": 3000,
        "requestTimeout": 30000,
        "maxRetryTime": 30000,
        "initialRetryTime": 300,
        "retries": 5,
        "sslRejectUnauthorized": true
    },
    {
        "id": "inject-create-topic",
        "type": "inject",
        "z": "flow-test-all",
        "name": "1. Create Test Topic",
        "props": [
            { "p": "action", "v": "createTopic", "vt": "str" },
            { "p": "topic", "v": "kafka-suite-test", "vt": "str" },
            { "p": "config", "v": "{\"partitions\":3,\"replicationFactor\":1}", "vt": "json" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 80,
        "wires": [["admin-node"]]
    },
    {
        "id": "inject-list-topics",
        "type": "inject",
        "z": "flow-test-all",
        "name": "2. List Topics",
        "props": [
            { "p": "action", "v": "listTopics", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 140,
        "wires": [["admin-node"]]
    },
    {
        "id": "inject-describe-cluster",
        "type": "inject",
        "z": "flow-test-all",
        "name": "3. Describe Cluster",
        "props": [
            { "p": "action", "v": "describeCluster", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 200,
        "wires": [["admin-node"]]
    },
    {
        "id": "inject-fetch-offsets",
        "type": "inject",
        "z": "flow-test-all",
        "name": "4. Fetch Topic Offsets",
        "props": [
            { "p": "action", "v": "fetchTopicOffsets", "vt": "str" },
            { "p": "topic", "v": "kafka-suite-test", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 260,
        "wires": [["admin-node"]]
    },
    {
        "id": "admin-node",
        "type": "kafka-suite-admin",
        "z": "flow-test-all",
        "name": "Kafka Admin",
        "broker": "broker-config",
        "x": 440,
        "y": 160,
        "wires": [["debug-admin-success"], ["debug-admin-error"]]
    },
    {
        "id": "debug-admin-success",
        "type": "debug",
        "z": "flow-test-all",
        "name": "Admin Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "action",
        "statusType": "msg",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug-admin-error",
        "type": "debug",
        "z": "flow-test-all",
        "name": "Admin Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "inject-produce-single",
        "type": "inject",
        "z": "flow-test-all",
        "name": "5. Send Single Message",
        "props": [
            { "p": "payload", "v": "{\"sensor\":\"temp-1\",\"value\":23.5,\"unit\":\"celsius\"}", "vt": "json" },
            { "p": "key", "v": "sensor-1", "vt": "str" },
            { "p": "headers", "v": "{\"source\":\"test\",\"version\":\"1\"}", "vt": "json" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 380,
        "wires": [["producer-node"]]
    },
    {
        "id": "inject-produce-batch",
        "type": "inject",
        "z": "flow-test-all",
        "name": "6. Send Batch (3 msgs)",
        "props": [
            { "p": "payload", "v": "[{\"sensor\":\"temp-2\",\"value\":21.0},{\"sensor\":\"temp-3\",\"value\":25.1},{\"sensor\":\"temp-4\",\"value\":19.8}]", "vt": "json" },
            { "p": "key", "v": "batch-test", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 440,
        "wires": [["producer-node"]]
    },
    {
        "id": "producer-node",
        "type": "kafka-suite-producer",
        "z": "flow-test-all",
        "name": "Test Producer",
        "broker": "broker-config",
        "topic": "kafka-suite-test",
        "key": "",
        "partition": "",
        "compression": "none",
        "acks": "-1",
        "timeout": 30000,
        "schemaRegistry": "",
        "x": 440,
        "y": 400,
        "wires": [["debug-producer-success"], ["debug-producer-error"]]
    },
    {
        "id": "debug-producer-success",
        "type": "debug",
        "z": "flow-test-all",
        "name": "Producer Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "kafka",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "debug-producer-error",
        "type": "debug",
        "z": "flow-test-all",
        "name": "Producer Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "consumer-node",
        "type": "kafka-suite-consumer",
        "z": "flow-test-all",
        "name": "Test Consumer",
        "broker": "broker-config",
        "topics": "kafka-suite-test",
        "groupId": "node-red-test-group",
        "startOffset": "earliest",
        "autoCommit": true,
        "autoCommitInterval": 5000,
        "messageFormat": "json",
        "concurrency": 1,
        "schemaRegistry": "",
        "x": 180,
        "y": 560,
        "wires": [["debug-consumer"]]
    },
    {
        "id": "debug-consumer",
        "type": "debug",
        "z": "flow-test-all",
        "name": "Consumer Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "inject-pause",
        "type": "inject",
        "z": "flow-test-all",
        "name": "Pause Consumer",
        "props": [
            { "p": "action", "v": "pause", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 620,
        "wires": [["consumer-node"]]
    },
    {
        "id": "inject-resume",
        "type": "inject",
        "z": "flow-test-all",
        "name": "Resume Consumer",
        "props": [
            { "p": "action", "v": "resume", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 680,
        "wires": [["consumer-node"]]
    },
    {
        "id": "inject-list-groups",
        "type": "inject",
        "z": "flow-test-all",
        "name": "7. List Consumer Groups",
        "props": [
            { "p": "action", "v": "listGroups", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 320,
        "wires": [["admin-node"]]
    },
    {
        "id": "comment-admin",
        "type": "comment",
        "z": "flow-test-all",
        "name": "=== ADMIN OPERATIONS ===",
        "info": "Click the inject buttons in order:\n1. Create Test Topic\n2. List Topics\n3. Describe Cluster\n4. Fetch Topic Offsets\n7. List Consumer Groups",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment-producer",
        "type": "comment",
        "z": "flow-test-all",
        "name": "=== PRODUCER ===",
        "info": "5. Send a single JSON message with key and headers\n6. Send a batch of 3 messages",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment-consumer",
        "type": "comment",
        "z": "flow-test-all",
        "name": "=== CONSUMER ===",
        "info": "The consumer auto-starts and reads from 'earliest'.\nUse Pause/Resume to control it.\nMessages appear in the debug sidebar.",
        "x": 160,
        "y": 520,
        "wires": []
    }
]
